<!DOCTYPE html>
<head>
    <title>LexSim</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/index.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
    <h1>LexSim</h1>
    <div id="lexicon"></div>
    <div id="user-in">
        <p>Type a sentence here:</p>
        <input id="sentence" type="text" name="sent">
        <p>Or upload a file (must be *.txt):</p>
        <input id="upload" type="file" name="fileUp" multiple="false">
        <input id="share" type="submit">
    </div>
    <div id="prod_sentence"></div>
</body>